<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="doctor" class="demo.Doctor">
        <constructor-arg value="MBBS"></constructor-arg>//construtor injection
<!--        <property name="qualification" value="MBBS"></property>-->//setter injection
<!--        <property name="nurse" ref="nurse"></property>-->
<!-- whole nurse obj inject to the doctor class -->
    </bean>
    <bean id="nurse" class="demo.Nurse"></bean>

</beans>